DATABASE_USER=your_username
DATABASE_PASSWORD=your_password
DATABASE_HOST=your_database_host
DATABASE_PORT=5432
DATABASE_NAME=your_database_name

DATABASE_URL=postgres://your_username:your_password@your_database_host:5432/your_database_name


GITHUB_TOKEN=your_github_classic_access_token

